@using SMSLiveResellerSite2026.Components.Data
@using SMSLiveResellerSite2026.Components.Formatting
@using SMSLiveResellerSite2026.Components.Forms
@using SMSLiveResellerSite2026.Components.Layouts
@using SMSLiveResellerSite2026.Pages.Messaging.Messages.Modals
@using SMSLiveResellerSite2026.Shared

<Card>
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" 
                               @onclick="e => ds.LoadData(alert)">
                    </SearchBox>
                </Left>
            </LeftRight>
        </SearchArea>
        <Table DataSource="ds">
            <Columns>
                <Column Header="#"><input class="form-check-input" type="checkbox" /></Column>
                <Column Header="Sender">@context.SenderID</Column>
                <Column Header="Message">@context.MessageText</Column>
                <Column Header="Time">
                    <FormatDate DateTime="@context.DateSubmitted"></FormatDate>
                </Column>
                <Column>
                    <Actions OnEdit="() => draftMessageModal.Show(context)"
                             OnDelete="() => draftMessageModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
    <Footer>
        <Pager PageState="ds.PageState" OnPageChange="e => ds.SetPage(e).LoadData(alert)" />
    </Footer>
</Card>

<DraftMessageModal @ref="draftMessageModal"></DraftMessageModal>

@code {
    private SearchBox searchBox = new();
    private DraftMessageModal draftMessageModal = new();
    private ApiDataSource<SmsBatchResponse> ds = new();

    protected override void OnInitialized()
    {
        ds.Callback = new((PageState p, FilterState? f) =>
        {
            return apiClient.SmsBatchListAsync(p.PageNumber, p.PageSize, null, null, null, searchBox.Text);
        });
    }
}
