@page "/Support/Contact"

<PageTitle>SMSLiveResellerSite2026 - Contact</PageTitle>
@* <Title>Contact our friendly team</Title> *@

<style>
    .card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container mt-5">
    <div class="text-center mb-5">
        <h2></h2>
        <h3>Let us know how we can help</h3>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <Card>
                <Body>
                    <div class="p-3 bg-primary-subtle rounded mb-3">
                        <i class="fa fa-phone-alt h2 text-primary"></i>
                    </div>
                    <h5 class="card-title">Call Us</h5>
                    <p>
                        <a class="text-decoration-none" href="tel:+2348099999247">+234 809 9999 247</a><br />
                        <a class="text-decoration-none" href="tel:+2347047332240">+234 704 7332 240</a>
                    </p>
                </Body>
            </Card>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <Card>
                <Body>
                    <div class="p-3 bg-primary-subtle rounded mb-3">
                        <i class="fa fa-headset h2 text-primary"></i>
                    </div>
                    <h5 class="card-title">Chat with Support</h5>               
                    <p>
                        <span>Speak to our friendly team</span>
                        <a class="text-decoration-none" href="mailto:info@SMSLiveResellerSite2026.com">info@SMSLiveResellerSite2026.com</a>
                    </p>
                </Body>
            </Card>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <Card>
                <Body>
                    <div class="p-3 bg-primary-subtle rounded mb-3">
                        <i class="fa fa-clock h2 text-primary"></i>
                    </div>
                    <h5 class="card-title">Our working hours</h5>
                    <p>
                        <span>Mondays - Fridays : 8AM - 7PM</span>
                        <span>Saturdays :         9AM - 4PM</span>
                    </p>
                </Body>
            </Card>
        </div>

        <div class="col-md-6 col-lg-3 mb-4 h-100">
            <Card>
                <Body>
                    <div class="p-3 bg-primary-subtle rounded mb-3">
                        <i class="fa fa-home h2 text-primary"></i>
                    </div>
                    <h5 class="card-title">Visit Us</h5>
                    <p>
                        <a class="text-decoration-none text-dark" href="https://www.google.com/maps/place/6+Oremeta+St,+Oregun,+Ikeja+101233,+Lagos" target="_blank">
                            6, Oremeta Street, Oregun,
                            Ikeja, Lagos, Nigeria.
                        </a>
                    </p>
                </Body>
            </Card>
        </div>
    </div>
</div>
