@using SMSLiveResellerSite2026.Components.Forms
@using SMSLiveResellerSite2026.Components.Pages.ViewModels
@using SMSLiveResellerSite2026.Models
@using SMSLiveResellerSite2026.Shared
<Modal Title="Enter Numbers" Size="Modal.ModalSize.LARGE" @bind-Hidden="hideModal">

    <Body>
        <label class="form-label" for="a">Enter recipient phone numbers by typing or pasting them, separated by commas
            or spaces.</label>
        <textarea class="form-control flex-grow-1" id="a" @bind="rawText"></textarea>
        <div class="form-text">
            Phone numbers without a country code will default to @CountryCode.
        </div>
    </Body>
    <Footer>
        <Button Type="Button.Style.SAVE" @onclick="Hide">
            Save
        </Button>
    </Footer>
</Modal>

@code {
    [Parameter] public ComposeSimpleModel? Model { get; set; }
    [Parameter] public EventCallback OnSelected { get; set; }
    [Parameter] public int CountryCode { get; set; } = 234;

    private string rawText = string.Empty;

    private bool hideModal = true;

    public void Show()
    {
        hideModal = false;
        StateHasChanged();
    }

    public Task Hide()
    {
        if (Model == null)
            return Task.CompletedTask;

        Model.Numbers = rawText
        .ConvertRawUploadToList(CountryCode)
        .Select(number => new ContactModel(number))
        .ToList();

        hideModal = true;
        return OnSelected.InvokeAsync();
    }
}