@page "/Messaging/SenderIds"
@using Microsoft.AspNetCore.Authorization
@using SMSLiveResellerSite2026.Components.Data
@using SMSLiveResellerSite2026.Components.Formatting
@using SMSLiveResellerSite2026.Components.Forms
@using SMSLiveResellerSite2026.Components.Layouts
@attribute [Authorize]

<PageTitle>SMSLiveResellerSite2026 - SenderIDs</PageTitle>
<Title>My Sender IDs</Title>

<Card>
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search..." 
                                   @bind="searchQuery" 
                                   @bind:event="oninput"
                                   @bind:after="OnSearch" />
                        <InputSelect class="form-select"
                                     @bind-Value="searchStatus"
                                     @bind-Value:after="OnSearch">
                            <option value="">All</option>
                            <option value="PENDING">PENDING</option>
                            <option value="APPROVED">APPROVED</option>
                            <option value="REJECTED">REJECTED</option>
                        </InputSelect>
                    </div>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" 
                            @onclick="e => senderIdModal.Show()">
                        Request Sender ID...
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table Items="filteredItems">
            <Columns>
                <Column Header="Sender ID">@context.SenderID</Column>
                <Column Header="Purpose / Sample Message" Width="40%">
                    @context.Purpose 
                    <small class="text-muted">@context.SampleText</small>
                </Column>
                <Column Header="Date Requested">
                    <FormatDate DateTime="@context.DateRequested"></FormatDate>
                </Column>
                <Column Header="Date Approved">
                    @if (context.DateDecided.HasValue)
                    {
                        <FormatDate DateTime="context.DateDecided.Value.DateTime"></FormatDate>
                    }
                    else
                    {
                        <span>Pending Approval</span>
                    }
                </Column>
                <Column Header="Status">
                    @if (context.Status == "APPROVED")
                    {
                        <span class="badge text-bg-success">APPROVED</span>
                    }
                    else if (context.Status == "REJECTED")
                    {
                        <span class="badge text-bg-error">REJECTED</span>
                    }
                    else
                    {
                        <span class="badge text-bg-danger">REJECTED</span>
                    }
                </Column>
                <Column>
                    <Actions OnDelete="e => senderIdModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
</Card>

<SenderIdModal @ref="senderIdModal" OnCompleted="FetchData"></SenderIdModal>

@code {
    private SenderIdModal senderIdModal = new();

    private string? searchStatus;
    private string? searchQuery;
    private List<SenderIdResponse>? items;
    private List<SenderIdResponse>? filteredItems;

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        var response = await apiClient.SenderIdListAsync(1, 500, null);

        if (response.StatusCode == 200)
        {
            items = response.Result.ToList();
            filteredItems = items;
        }
    }

    private void OnSearch()
    {
        filteredItems = items;

        if (!string.IsNullOrWhiteSpace(searchStatus))
        {
            filteredItems = filteredItems?.Where(x => x.Status == searchStatus).ToList();
        }

        if (!string.IsNullOrWhiteSpace(searchQuery))
        {
            filteredItems = filteredItems?.Where(x => x.SenderID.Contains(
                searchQuery, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
