@using SMSLiveResellerSite2026.Components.Layouts
@using SMSLiveResellerSite2026.Models
@if (Selected.Count > 0)
{
    <div class="card mb-3 bg-info-subtle">
        <div class="card-body" @onclick="OnClick">
            <LeftRight>
                <Left>
                    <h6 class="card-title">
                        @Caption [@Selected.Sum(x => x.Count) /
                        @Recipients.Sum(x => x.Count)]
                    </h6>
                </Left>
                <Right>
                    <i class="fa fa-edit"></i>
                </Right>
            </LeftRight>
            @foreach (var item in Selected)
            {
                <span class="badge bg-info me-1">
                    @item.Name
                </span>
            }
        </div>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter] public string Caption { get; set; } = "Heading";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public List<ContactModel> Recipients { get; set; } = [];
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    public List<ContactModel> Selected => Recipients.Where(x => x.Selected).ToList();
}
