@using System.Linq.Expressions
@inherits InputNumber<int>

<div class="input-group mb-3">
    <label class="form-label col-@Column">@Label</label>
    <div class="col-@(12 - Column)">
        <input class="form-control" id="@Id"
               @bind="@CurrentValueAsString" />
        @* <ValidationMessage For=@For /> *@
    </div>
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public int? Column { get; set; } = 4;
    [Parameter] public Expression<Func<int>>? For { get; set; }
}