<section class="d-flex flex-column align-items-center flex-md-row gap-3">
    <div class="d-flex gap-3 me-md-auto">
        @Left
    </div>
    <div class="d-flex gap-3">
        @Right
    </div>
</section>

@code {
    [Parameter] public RenderFragment? Left { get; set; }
    [Parameter] public RenderFragment? Right { get; set; }
}
